.TodoSearch-Container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.TodoSearch {
    width: 90%;
    padding: 1em;
    margin: 0 auto;
    margin: 0 auto;
    font-size: 1.05em;
}